*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: #F0FFF0;
}
.navbar-brand img{
    width: 157.07px;
}
.navbar-light .navbar-nav .nav-link {
    color: #000000;
    font-family: Poppins;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
  .btn-sign-in {
        background-color: #21B573;
        color: #fff;
        padding: 0px !important;
        padding: 12px 28px !important;
        text-transform: capitalize;
        border-radius: 30px;
        font-size: 16px;
        line-height: 19px;
        transition: 0.4s;
 }

 .btn-check:focus+.btn, .btn:focus {
    outline: none;
    box-shadow:none;
}

.btn-sign-in:hover{
    color: #fff;
    background-color: #0a5c38;
}
li.nav-item {
    padding: 0px 5px;
}
.navbar-nav{
    align-items: center;
}
.navbar-light .navbar-toggler {
    color: rgb(0 0 0 / 0%);
    border-color: rgb(0 0 0 / 0%);
}
.feature {
    padding: 80px 0;
}
.left-content{
    padding: 30px 40px;
}
.left-content span{
    color: #21b573
}
.left-content p{
    font-size: 16px;
    line-height: 24px;
    color: #FD511A;
    margin: 0px;
}
.left-content h1{
    font-size: 48px;
    line-height: 70px;
    font-weight: bold;
    color: #000000;
    padding: 15px 0;
}
.btn-started{
    font-size: 16px;
    line-height: 19px;
    background: #21B573;
    /* border: 1px solid #000000; */
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 20%);
    border-radius: 33px;
    color: #FFFFFF;
    padding: 12px 36px;
    transition: 0.4s;
}
.btn-started:hover{ 
    border: 1px solid #000000;
    color: #FFFFFF;
    background-color: #0a5c38;
}
.item{
    padding: 80px 0;
}
.item-content{
    text-align: center;
    background-color: #F8FFFB;
    padding: 50px 20px;
    border-radius: 10px;
    transition: 0.4s;
}
.item-content:hover{
    background: #FFFFFF;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.item-content img{
    width: 66px;
}
.content img{
    width: 56px;
}
.item-content h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #413960;
    margin: 0;
    padding: 20px 0 5px 0px;
}
.item-content p{
    font-size: 16px;
    line-height: 24px;
/* identical to box height */
    color: #585859;
    margin: 0;
}
.course{
    padding: 0 0 80px 0;
}
.course h1 {
    text-align: center;
    font-size: 36px;
    line-height: 54px;
    color: #413960;
    margin: 0;
    font-weight: bold;
    padding: 0;
    padding: 30px 0 50px 0;
}
.course-content{
    padding: 28px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.course-content img{
    width: 300px;
    border-radius: 11px;
}
.course-content h2{
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
/* identical to box height */
    color: #413960;
    margin: 0;
    padding: 0;
    margin: 0;
    padding: 25px 0 5px 0;
}
.course-content p{
    font-size: 16px;
    line-height: 24px;
/* identical to box height */
    color: #585859;
    padding: 0;
    margin: 0;
    padding: 0 0 30px 0;
}
.course-content a{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding: 8px 28px;
    background: #21B573;
    border-radius: 33px;
    text-decoration: none;
    transition: 0.4s;
}
.course-content a:hover{
    background-color: #0a5c38;
}

.course-content ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding: 20px 0;
}
.course-content ul li{
    /* list-style: none; */
    /* display: flex; */
    padding-top: 25px;
    font-size: 13px;
}
.course-content ul li i{
    margin-right: 5px;
}
.Testi-headr{
    margin: auto;
    padding: 40px 0;
}
.Testi-headr h1{
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    line-height: 54px;
/* identical to box height */
    color: #000000;
    margin: 0;
    padding: 0;
}
.Testimonial{
    margin: auto;
    text-align: center;
    /* padding: 20px 0; */
}

.testi-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid #000000b3;
}
.testi-content p{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
/* or 187% */
    color: #000000;
    text-align: justify;
} 
.testi-content {
    padding: 5px 0 0 40px;
}
.testi-img {
    width: 150px;
}
.footer{
    background-color: #282531;
    padding: 80px 0 0 0;
}
.footer-content p{
    font-size: 16px;
    line-height: 30px;
/* or 187% */
    color: #FFFFFF;
    margin: 0;
}
.footer-item h2{
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    color: #FFFFFF;
    text-align: left;
}

.footer-item ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-item ul li a{
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    text-decoration: none;
}
.copyright{
    text-align: center;
    padding: 70px 0 20px 0;
}
.copyright p{
    font-size: 16px;
    line-height: 30px;
/* identical to box height, or 187% */
    color: #CDCDCD;
    margin: 0;
    padding: 0;
}
.copyright span {
    font-weight: 500;
}